.background1{
    background-image: url(new-weather-1.png);
    height: 780px;
}
.background2{
    background-image: url(new-weather-2.png);
    height: 780px;
}
.max-w-310{
    max-width: 340px;
}
.min-w-310{
    min-width: 340px;
}
.min-w-82{
    min-width: 82px;
}
.w-375{
    width:375px;
}
.brick{
    height: 3px;
    width: 80px;
}
.gallery{
    position:relative;
    transform: translate(0px);
    transition-duration: 200ms;
    transition-property: all;
}
.gallery-2{
    position:relative;
    transform: translate(-375px);
    transition-duration: 200ms;
    transition-property: all;
}
.circular *,
.circular::before {
  box-sizing: border-box;
}

.circular {
    position: relative;
    height: 119px;
    width: 119px;
    margin-left:0.8rem;
  }
.circular::before{
    width: inherit;
    height: inherit;
    border: 4px solid rgba(191,219,254);
    content: '';
    border-radius: 9999px;
    position: absolute;
}
.pressure::before{
    border: 10px solid rgba(191,219,254);
}
.pressure{
    height: 110px;
    width: 110px;
    margin-left:1rem;
}
.top-41{
    top: 27%;
    left: 34%;
}
.top-47{
    top:44%;
    padding-left: 5px;
    width: 115px;
}
.highlow{
    bottom: 1%;
}